<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Webmapp 201</title>
        <link rel="stylesheet" href="{{ url_for('src_files', filename='leaflet.css') }}">
        <link rel="stylesheet" href="{{ url_for('src_files', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('src_files', filename='plugins/L.Control.Zoomslider.css') }}">
        <link rel="stylesheet" href="{{ url_for('src_files', filename='plugins/L.Control.Sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('dist_files', filename='MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ url_for('dist_files', filename='MarkerCluster.Default.css') }}">
        
        
        <script src="{{ url_for('src_files', filename='leaflet-src.js') }}"></script>
        <script src="{{ url_for('src_files', filename='jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('src_files', filename='turf.min.js') }}" charset="utf-8"></script>
        <script src="{{ url_for('src_files', filename='plugins/L.Control.Zoomslider.js') }}"></script>
        <script src="{{ url_for('src_files', filename='plugins/L.Control.Sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/swedish_counties.js') }}"></script>
        <script src="{{ url_for('static', filename='js/countries.js') }}"></script>

        
        
        
       
        
        <style>
            #mapdiv {
                height: 100vh;
            }  
            
            #side-bar {
			position: absolute;
			z-index: 1000;
			background: rgba(255,255,255,0.7);
			padding: 10px;
			right: 0;
            top: 0;
			margin: 10px;
			border-radius: 10px;
			min-height: 200px;
            }
                        
        </style>
    </head>
    <body>
       <div id="mapdiv" class="col-md-9"></div>
       
       <div id="side-bar" class="col-md-3"><h2>My Map</h2>
            <button id="l1">layer1</button>
            <button id="l2">layer2</button>
            <button id="btnFalun" class="btn btn-primary btn-block">ZoomToFalun</button>
  
       </div>
       
       <div id="sidebar"><h1>leaflet-sidebar</h1>
       </div>
        
       <script>
            var mymap; 
            var lyrOSM; 
            var mrkCurrentLocation;
            var ctlZoomslider;
            var swedishlayer = L.geoJson(swedish_counties);
            var countrieslayer
            var ctlSlidebar;
            var sample = L.geoJson(sample);
            var sample1 = L.geoJson(sample1);
            
           
            $(document).ready(function(){
                mymap = L.map('mapdiv', {center:[60.48868922712431, 15.421371459960938], zoom:13});
                lyrOSM= L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
                mymap.addLayer(lyrOSM);
                
                
                ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(mymap);
                
                var sidebar = L.control.sidebar('sidebar', {position: 'left'});
                mymap.addControl(sidebar);
                
                var latlngs = [
					[60.482370725338484, 15.434717248972277],
					[60.484316080102275, 15.441777259162706],
					[60.486972387134756, 15.438435413671698]
				];

				var polyline = L.polyline(latlngs, {color: 'red'}).addTo(mymap);

               
                               
                                      
                var blackIcon = L.icon({
                    iconUrl: "{{ url_for('static', filename='img/map-marker.svg') }}",
                    iconSize:     [32, 37], // size of the icon
                    iconAnchor:   [32, 37], // point of the icon which will correspond to marker's location
                    popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
                });
                
                // Popup and marker
                popb = L.marker([60.48868922712431, 15.431371459960938],{icon: blackIcon}).addTo(mymap).bindPopup('Intro to Leaflet');
                
                popf= L.marker([60.605898734439805,15.628023594617845], {icon:blackIcon}).addTo(mymap).bindPopup("<h3>Falun Museum</h3><img src='{{ url_for('static', filename='img/museum.jpg') }}' width='150px'>")
                
                                
                document.getElementById("l1").addEventListener("click", sweden);

		          function sweden(){
                      if(mymap.hasLayer(swedishlayer)){
                          mymap.removeLayer(swedishlayer);
                         
                          sidebar.hide();
                          
                      } else {
                          swedishlayer.addTo(mymap);
                          
                          sidebar.show();
                      }
			
		          };
                
                countrieslayer = L.geoJson(countries, {
			    onEachFeature: function (feature, layer) {
				layer.bindPopup(feature.properties.name);
			     }
		         });


		      document.getElementById("l2").addEventListener("click", c_layers);
                
                function c_layers(){
                    if(mymap.hasLayer(countrieslayer)){
                        mymap.removeLayer(countrieslayer);
                    } 
                    else {
                        countrieslayer.addTo(mymap);
                        }
                    };
                
                
                
                $("#btnFalun").click(function(){
                    mymap.setView([60.605866810126194, 15.628008842468262], 17);
                })
                
                
                
                // Buffer
                            
  /*              sample1.addTo(mymap);
                var s2 = sample1.toGeoJSON();
                
                var samplegeo = turf.buffer(s2, 0.5,{units: 'kilometers' });

                var samplegeol = L.geoJSON(samplegeo, {style:{color:'yellow', dashArray:'5,5', fillOpacity:0.1}}).addTo(mymap);
    */             

               /* Task 1 */  
                var pointFeature = L.marker([60.614268560585714, 15.6535054486699], {icon:blackIcon}).addTo(mymap).bindPopup("<h3>Campus Falun</h3><img src='{{ url_for('static', filename='img/campusfalun.jpg') }}' width='150px'>")
                   
                var polylineCoords = 
                [
				[60.621367454927025, 15.622346847045435],
                [60.621697274780814, 15.62213328942957],
                [60.62160414951677, 15.621152506306174 ],
                [60.62262032701253, 15.620378236581274],
                [60.622934613799714, 15.61978502098242],
                [60.62314801666287, 15.619081071805823],
                [60.623283817749524, 15.61825056996733],
                [60.623101456158565, 15.618195203177947],
                [60.623016095059484, 15.61817147455406],
                [60.622969534364955, 15.618052831433744],
                [60.622969534364955, 15.617491254000441]
                ];

				var lineFeature = L.polyline(polylineCoords, {color: 'yellow'}).addTo(mymap).bindPopup("<h3>Vägen till Gula Måsen</h3><img src='{{ url_for('static', filename='img/BabeZiggy.png') }}' width='150px'>");
            
            var polygonCoords = 
            [[
               61.147842439613754,
               15.651735831536143
            ],
            [
              61.144205514498594,
              15.652395398858516
            ],
            [
              61.143341571580805,
              15.664735054868345
            ],
            [
              61.14806970830725,
              15.65644494526444
            ],
            [
              61.147842439613754,
              15.651735831536143
            ]];

            var polygonFeature = L.polygon(polygonCoords, {color: 'red'}).addTo(mymap).bindPopup("<h3>Secret island</h3><img src='{{ url_for('static', filename='img/cottage.jpg') }}' width='150px'>");

            // zoom the map to the polygon
          

            /* Task 2 */

            /* Uppsala domkyrka */
            var pointFeature = L.marker([59.85891534611104, 17.633938627896278], {icon:blackIcon}).addTo(mymap);

            pointFeature.on("click", function () {
                document.getElementById("sidebar").innerHTML =
                    "<h1>Uppsala domkyrka</h1>" +
                    "<img src='{{ url_for('static', filename='img/UppsalaDomkyrka.jpg') }}' width='350px'>" + 
                    "<p>Domkyrkan är en av Nordens mest kända katedraler och ligger i centrala Uppsala.</p>" 

                    
                sidebar.show();

            });

            /* Gamla Uppsala kyrka */
            var pointFeature = L.marker([59.89963329775873, 17.63183228425853], {icon:blackIcon}).addTo(mymap);

            pointFeature.on("click", function () {
                document.getElementById("sidebar").innerHTML =
                    "<h1>Gamla Uppsala kyrka</h1>" +
                    "<img src='{{ url_for('static', filename='img/UppsalaGamla.jpg') }}' width='350px'>" + 
                    "<p>Gamla Uppsala kyrka är en av Sveriges mest historiskt betydelsefulla kyrkor, belägen i det forntida hjärtat av Sveariket. Den nuvarande stenkyrkan uppfördes troligen under mitten av 1100-talet och fungerade mellan 1164 och ca 1273 som Sveriges första ärkebiskopssäte.</p>" 

                    
                sidebar.show();

            });
            
            /* Danmark kyrka */
            var pointFeature = L.marker([59.8331258871162, 17.745021770642804], {icon:blackIcon}).addTo(mymap);

            pointFeature.on("click", function () {
                document.getElementById("sidebar").innerHTML =
                    "<h1>Danmark kyrka</h1>" +
                    "<img src='{{ url_for('static', filename='img/UppsalaDanmark.jpg') }}' width='350px'>" + 
                    "<p>Danmarks kyrka ligger cirka 8 km söder om Uppsala. Det är en medeltida salkyrka som är särskilt känd för sin höga spira och sina välbevarade takmålningar. Kyrkan tillhör Danmark-Funbo församling och syns på långt håll över Uppsalaslätten.</p>" 

                    
                sidebar.show();

            });


            var pointFeature = L.marker([59.857015811615284, 17.632788414888203], {icon:blackIcon}).addTo(mymap);

            pointFeature.on("click", function () {
                document.getElementById("sidebar").innerHTML =
                    "<h1>Helga Trefaldighets Kyrka</h1>" +
                    "<img src='{{ url_for('static', filename='img/UppsalaHelga.jpg') }}' width='350px'>" + 
                    "<p>Helga Trefaldighets kyrka (ofta kallad Bondkyrkan) är en medeltida kyrka i Uppsala, belägen precis söder om Uppsala domkyrka i området Odinslund. Den är känd för sin intima atmosfär och sina välbevarade valv med kalkmålningar av Albertus Pictor.</p>" 

                    
                sidebar.show();

            });

            var pointFeature = L.marker([59.876111304391785, 17.68605804604782], {icon:blackIcon}).addTo(mymap);

            pointFeature.on("click", function () {
                document.getElementById("sidebar").innerHTML =
                    "<h1>Vaksala Kyrka</h1>" +
                    "<img src='{{ url_for('static', filename='img/UppsalaVaksala.jpg') }}' width='350px'>" + 
                    "<p>Vaksala kyrka i Uppsala är en av regionens mest framträdande medeltida kyrkor, känd för sitt 76 meter höga torn som syns på långt håll..</p>" 

                    
                sidebar.show();

            });

            /* Task 3 */
            
            
            


});
            
       </script>
    </body>
</html>